.am-header {
  background-color: #FF6E2F;
  height: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: White;
}

.am-title {
  font-size: 150%;
  margin-left: 5%; 
  margin-top: 16%;
  font-size: 35px;
  display: inline-block; 
}

.am-header-content {
  display: flex;
  align-items: center;
}

.am-logo {
  width: 150px; 
  height: auto;
  margin-right: 10%; 
  margin-left: 10%; 
  margin-top: 10%; 
  margin-bottom: 10%; 
}

.am-subtitle {
  font-size: 16px;
  font-weight: bold;
}

.am-admin {
  font-size: 150%;
  margin-left: 5%; 
  margin-top: 5%; 
  font-size: 20px;
}

.am-navbar {
  background-color: #666666;
  height: 50px;
  display: flex;
}

.am-navbar-left {
  width: 70%;
  height: auto;
  background-color: transparent;
  border: black; 
  color: white;
  text-decoration: none; 
  margin-left: 10px;
}

.am-navbar-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.am-logout-button {
  background-color: white;
  border: 1px solid black;
  color: Red;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
}

.am-nav-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 50%;
}

.am-nav-button:hover {
  background-color: #f0f0f0;
}

.am-table-container {
  height: 400px;
  overflow-y: auto;
}

.am-table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 2%;
  margin-top: 0%;
  z-index: 0;
}

.am-table th,
.am-table td {
  border: 1.5px solid black;
  padding: 8px;
  width: 10%;
  text-align: left;
}

.am-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.am-table tr:hover {
  background-color: #f5f5f5;
}

.am-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.am-btn-choices {
  margin: 10px 0;
  padding: 25px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

.am-btn-printall {
  margin: 10px 0;
  padding: 25px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 5px;
  width: 80%;
}

.am-btn-printall:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.choices-description {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.am-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.am-main-item {
  margin: 10px;
}

.table-container {
  height: 400px; 
  overflow-y: auto; 
}

.backToHomeIcon:hover {
  opacity: 50%;
  cursor: pointer;
}

@media print {
  .am-table-container,
  .am-header,
  .am-navbar,
  .am-btn-choices {
    display: none;
  }

  .table-container {
    width: 100%;
    display: none;
  }

  .am-btn-container {
    display: none;
  }
}

@media screen {
  .address-container {
    display: none;
  }
}

@media print {
  .am-logo-pr {
    width: 77px; 
    height: auto;
    float: left;
    margin-right: 10px; 
    margin-top: 50px;
  }

  .address-container {
    display: block;
    margin-top: 20px;
    column-count: 2; 
    column-gap: 20px; 
  }

  .address-section {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 60px;
    width: 7cm;
    height: 10cm;
    page-break-inside: avoid;
    overflow: hidden;
    break-inside: avoid-column; 
  }

  .sender-info-t {
    float: right; 
    width: calc(100% - 100px); 
    margin-top: 0;
  }

  .consignee-info {
    clear: both; 
    margin-top: 20px; 
  }

  .address-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
  }

  .address-container p {
    margin: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
  }

  .divider {
    border-top: 1px solid black; 
    margin-top: 120px;
    clear: both; 
  }
}

@media print {
  .address-section {
    margin-bottom: 40px; 
    page-break-inside: avoid;
  }
}
