 .ap-header {
    background-color: #FF6E2F;
    height: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    color: White;
  }
  
  .ap-title {
    font-size: 150%;
    margin-bottom: 5px; 
    margin-left: 20%; 
    font-size: 35px;
    display: inline-block; 
  }
  
  .ap-header-content {
    display: flex;
    align-items: center;
  }
  
  .ap-logo {
    width: 150px; 
    height: auto;
    margin-right: 10%; 
    margin-left: 10%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
  }
  
  .ap-subtitle {
    font-size: 16px;
    font-weight: bold;
  }
  
  .ap-admin {
    font-size: 150%;
    margin-left: 20%; 
    margin-top: 15%; 
    font-size: 20px;
  }
  
  .ap-navbar {
    background-color: #666666;
    height: 50px;
    display: flex;
  }
  
  .ap-navbar-left {
    width: 70%;
    height: auto;
    background-color: transparent;
    border: black; 
    color: white;
    text-decoration: none; 
  }
  
  .ap-navbar-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .ap-logout-button {
    background-color: white;
    border: 1px solid black;
    color: Red;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
  }
  
  .ap-nav-button,
  .back-nav-button,
  .back-to-home-nav-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 150%;
    font-weight: bold;
  }
  
  .ap-nav-button:hover,
  .print-nav-button:hover,
  .am-btn-choices:hover,
  .ap-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .print-nav-button {
      background-color: white;
      border: 1px solid black;
      border-left: none;
      border-right: none;
      color: black;
      padding: 10px 20px;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      height: 50px;
      font-size: 120%;
      font-weight: bold;
  }
  
  .am-btn-choices {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 100%;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 3%;
    margin-bottom: 3%;
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .am-btn-container {
    display: flex;
  }
  
  .choices-description {
    font-weight: bold;
  }
  
  .ap-table-container {
    height: 400px;
    overflow-y: auto;
  }
  
  .ap-table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2%;
    margin-top: 0%;
    z-index: 0;
  }

  .ap-table th,
  .ap-table td {
    border: 1.5px solid black;
    padding: 8px;
    width: 10%;
    text-align: left;
  }
  
  .ap-table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
  }
  
  .ap-table tr:hover {
    background-color: #f5f5f5;
  }
  
  .button-container { 
    display: flex;
    justify-content: center;
  }
  
  .ap-button {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 100%;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    margin-right: 20px;
    margin-top: 3%;
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .table-container {
    height: 400px; 
    overflow-y: auto; 
  }
  @media print {
    /* Hide navbar and header when printing */
    .ap-navbar, .ap-header {
      display: none;
    }
    .am-update-button, .am-cancel-button {
      display: none;
    }
  
    /* Remove height and overflow properties to allow table to break across pages */
    .ap-table-container {
      height: auto;

    }
  
    /* Set table width to 100% and remove table cell padding */
    .ap-table {
      width: 95%;
      border-collapse: collapse;
      page-break-inside: auto; /* Allow table to break across pages */
    }
    
    .ap-table td {
      padding: 0.5;
    }
  
    /* Remove borders for table header cells */
    .ap-table th {
      border: none;
    }
  
    /* Set font size and alignment for table header and cells */
    .ap-table th,
    .ap-table td {
      font-size: 14px;
      text-align: left;
    }
  }
  
  
  
  
  
  
    