.am-header-content {
    display: flex;
    align-items: center;
}
  
.am-logo {
    width: 150px; 
    height: auto;
    margin-right: 10%; 
    margin-left: 10%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
}

.am-subtitle {
    font-size: 16px;
  }

.am-navbar {
    background-color: #666666;
    height: 50px;
    display: flex;
}
  
.am-navbar-left {
    width: 70%;
    height: auto;
    background-color: transparent;
    border: black; 
    color: white;
    text-decoration: none; 
    margin-left: 10px;
}

.am-navbar-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.am-logout-button {
    background-color: white;
    border: 1px solid black;
    color: Red;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}

.am-nav-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    font-size: 50%;
}

.am-nav-button:hover {
    background-color: #f0f0f0;
}