.nav-button:hover {
    background-color: #f0f0f0;
}

.announcement {
    text-align: center; 
}

.announcement-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 140%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.small-font-left-align {
    font-size: 100%; 
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
}

.empty-line {
    margin-top: 5px; 
    margin-bottom: 5px; 
}
  
.orange-text {
    color: #FF6E2F;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.submit-button {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    cursor: pointer;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%; 
    margin-top: 5%;
    cursor: pointer;
}

.radio-buttons label {
    font-weight: bold;
    font-size: 100%;
    align-items: flex-end;
    cursor: pointer;
  }
  
  
.radio-buttons input[type="radio"] {
    display: inline-block;
    margin-bottom: 10px;
}

.back-to-homepage-button-d {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin-bottom: 5%;
    cursor: pointer;
}

.back-to-homepage-button-d:hover {
  background-color: #f0f0f0;
}

.submit-button:hover {
  background-color: #f0f0f0;
}