.App {
  text-align: center;
}

.App-header {
  background-color: #fdfdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-homepage {
  background-color: #FF6E2F;
  height: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: White;
}

.header {
  background-color: #FF6E2F;
  height: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: White;
}
  
.header-content {
  display: flex;
  align-items: center;
}

.logo-homepage {
  width: 30%; 
  height: auto;
  margin-right: 10%; 
  margin-left: 10%; 
  margin-top: 7%; 
  margin-bottom: 5%; 
}

.logo-logout {
  color: white;
  width: 13%;
  justify-content: right;
  text-align: right;
  margin-top: 7%;
}

.logo-logout:hover {
  cursor: pointer;
  opacity: 70%;
}

.title {
  font-size: 24px;
  margin-bottom: 5px; 
}

.subtitle {
  font-size: 16px;
}

.homeTitle {
  margin-right: 5%;
  margin-bottom: 20%;
  margin-top: -30%;
}

.logoutDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 35%;
}

.navbar {
  background-color: #666666;
  height: 50px;
  display: flex;
}

.navbar-left {
  width: 60%;
  background-color: white; 
  border: black; 
  color: black;
  text-decoration: none; 
}

.navbar-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout-button {
  background-color: white;
  border: 1px solid black;
  color: Red;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
}

.nav-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 127%;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #f0f0f0;
}

.logout-button:hover {
  background-color: #f0f0f0;
}

.announcement {
  text-align: center; 
}

.announcement-title-homepage {
  font-weight: bold;
  text-decoration: underline;
  font-size: 130%;
  margin-bottom: 5px;
}

.announcement-title2 {
  font-size: 120%;
  text-decoration: underline;
  margin-top: 10px; 
  font-weight: bold;
}

.small-font-left-align {
  font-size: 100%;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
}

.empty-line {
  margin-top: 5px; 
  margin-bottom: 5px; 
}

.orange-text {
  color: #FF6E2F;
}

.button-container {
  display: flex;
  justify-content: center;
}

.choose-option-button {
  color: rgb(0, 0, 0);
  background-color: rgb(180, 242, 161);
  border: 2px solid black;
  font-weight: bold;
  font-size: 90%;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  margin-bottom: 3%;
  margin-left: 25%;
  cursor: pointer;
  justify-content: center;
}

.home-see-your-option-button {
  color: #FF6E2F;
  background-color: white;
  border-top: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 85%;
  height: 50%;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 2%;
  justify-content: center;
}

.option-button {
  color: #FF6E2F;
  background-color: white;
  border-top: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  width: 85%;
  height: 80px;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 5%;
  justify-content: center;
}

.option-button:hover {
  background-color: #f0f0f0;
}

.option-description {
  font-size: 14px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease; 
  opacity: 0;
}

.option-description.active {
  max-height: 500px; 
  opacity: 1;
  justify-content: center;
}

.popup-homepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.selected-option {
  font-weight: bold;
}

.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.popup-homepage.active {
  opacity: 1; 
  visibility: visible; 
}

.close-popup-button {
  color: #FF6E2F;
  background-color: white;
  border-top: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 2%;
  width: 70%;
  justify-content: center;
}

.close-popup-button:hover {
  background-color: #f0f0f0;
}