.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #fdfdfd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: #FF6E2F;
    height: 70%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust the font size as needed */
    color: White;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 150px; 
    height: auto;
    margin-right: 10%; 
    margin-left: 10%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
  }
  
  .title {
    font-size: 24px;
  }
  
  .navbar {
    background-color: #666666; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px; 
    font-weight: bold;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }

  .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  

  .input-group input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .input-error {
    border: 1px solid red;
    border-radius: 8px;
  }
  
