.App {
    text-align: center;
}
  
.App-header {
    background-color: #fdfdfd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
}
  
body, html {
    height: 100%;
    margin: 0;
}
  
.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.header {
    background-color: #FF6E2F;
    height: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    color: White;
}
  
.header-content {
    display: flex;
    align-items: center;
    max-width: 80%; 
    width: 100%; 
    height: auto;
}
  
.logo {
    width: 150px; 
    height: auto;
    margin-right: 10px; 
}

.title {
    font-size: 24px;
}

.navbar {
    background-color: #666666; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px; 
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}
  
.input-group label {
    margin-bottom: 5px;
}
  
.input-group input {
    width: 100%; 
    max-width: 300px; 
    padding: 10px; 
    border: 1px solid #ccc;
}

.google-signin-btn {
    width: 100%; 
    max-width: 300px; 
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5%;

}

.google-signin-btn:hover {
    background-color: #357ae8;
}

.login-btn {
    width: 100%; 
    max-width: 300px;
    padding: 10px; 
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}
