.pm-announcement {
  text-align: center; 
}

.qrcode-image {
  width: 60%; 
  height: auto; 
  margin-top: 10%; 
}

.button-container {
  display: flex;
  justify-content: center;
}

.upload-receipt-button {
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-top: 5%;
}

.payment-submit-button{
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-bottom: 5%;
}

.remove-receipt-button {
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-bottom: 5%;
}

@media only screen and (min-width: 768px) {
  .qrcode-image {
    width: 40%; 
  }
}

@media only screen and (min-width: 992px) {
  .qrcode-image {
    width: 30%; 
  }
}

/* Change Reciept */

.changeRecieptDiv {
  margin-top: 2%;
}

.logo-changeReciept {
  width: 30%; 
  height: auto;
  margin-right: 10%; 
  margin-left: 10%; 
  margin-top: 7%; 
  margin-bottom: 10%; 
}

.logo-logout-changeReciept {
  width: 6%;
  margin-right: -14%;
  position: absolute;
}

.logoKresoPayment {
  width: 110px;
  height: auto;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: -20%;
}

.logoKresoChangeReciept {
  width: 110px;
  height: auto;
  margin-right: 15%;
  margin-left: 5%;
}

.titlePayment {
  font-size: 24px;
  margin-bottom: -15%;
}

.titleChangeReceiept {
  font-size: 24px;
  margin-bottom: -15%;
}

.logo-logout-payment {
  width: 25px;
  margin-top: -2%;
  margin-right: -25%;
  position: absolute;
}

.paymentKasikorn {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: -5%;
}

.divRemoveButton {
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;
  text-align: center;
}

