.pm-announcement {
  text-align: center; 
}

.qrcode-image {
  width: 60%; 
  height: auto; 
  margin-top: 5%; 
}

.button-container {
  display: flex;
  justify-content: center;
}

.upload-receipt-button {
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-top: 5%;
}

.payment-submit-button{
  color: #FF6E2F;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  margin-bottom: 5%;
}

@media only screen and (min-width: 768px) {
  .qrcode-image {
    width: 40%; 
  }
}

@media only screen and (min-width: 992px) {
  .qrcode-image {
    width: 30%; 
  }
}

.payment-option {
  text-align: center;
  margin-top: 7%;
}

.payment-show-price {
  text-align: center;
  margin-top: 0%;
  color:#FF6E2F;
}
