.personal-info-table {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 3%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #e0e0e0;  
  padding: 2%;
  border: 1px solid #000000;
  text-align: left;
  font-size: 90%;
}

td {
  padding: 2%;
  text-align: left;
}

table, td {
  border: 1px solid #000000;
}

.logo-logout-personalInfo {
  width: 6%;
  margin-top: 3%;
  margin-right: -4%;
  position: absolute;
}

.personalInfoTitle {
  margin-right: 5%;
  margin-bottom: 15%;
  margin-top: -20%;
}