.pc-announcement {
    text-align: center; 
  }
  
.pc-announcement-title-dt {
    font-weight: bold;
    text-decoration: underline;
    font-size: 150%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5%;
}

.pc-dt-description-title {
    color: #FF6E2F;
    font-size: 150%;
    text-align: left;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}
  
.pc-dt-description {
    font-size: 120%;
    text-align: left;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 3%;
    font-weight: bold;
}
  
.orange-text {
    color: #FF6E2F;
}
  
.pickUpAtRegis-back-to-homepage-button {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    margin-top: 3%;
    margin-bottom: 2%;
} 
  
.grad-image-dt {
    width: 100%; 
    height: auto;
}
  
@media only screen and (min-width: 768px) {
    .grad-image {
      width: 50%; 
    }
}