.syo-change-your-option-button {
    color: #FF6E2F;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 3%;
    cursor: pointer;
}

.syo-change-your-option-button:hover {
    background-color: #f0f0f0;
}

.orange-text {
    color: #FF6E2F; 
}
  

.option-details {
    margin-top: 5%;
    margin-left: 20px; 
    text-align: center;
}
