.a4-page {
    page-break-before: always; /* Ensure each .a4-page starts on a new printed page */
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 1cm;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    border: 10px solid black;
    border-radius: 3px;
    width: 80mm;
    height: 105mm;
    margin-right: 30px;
    margin-bottom: 20mm; 
    margin-top: 50px;
    border: 1px solid #000;
  }
  
  @media print {
    .a4-page {
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  @media screen {
    .print-container {
      display: none;
    }
  }
  
  @media print {
    .print-container {
      display: block;
    }
  }

.a4-content {
    font-weight: bold;
    margin-left: 10px;
}

.logo-print {
    margin-top: 10px;
    margin-left: 10px;
    width: 30%;
    height: auto;
}


  