.a4-page {
    page-break-before: always; /* Ensure each .a4-page starts on a new printed page */
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 1cm;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .sender-info{
    float: right; 
  }

  .box {
    border: 10px solid black;
    border-radius: 3px;
    width: 80mm;
    height: 105mm;
    margin-left: 60px;
    margin-bottom: 20mm; 
    margin-top: 50px;
    border: 1px solid #000;
  }
  
  @media print {
    .a4-page {
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  @media screen {
    .print-container {
      display: none;
    }
  }
  
  @media print {
    .print-container {
      display: block;
    }
  }

  @media print {
    .address-container {
      display: block;
      margin-top: 20px;
      column-count: 2; 
      column-gap: 20px; 
    }
  
    .address-section {
      border: 2px solid #000;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 60px;
      width: calc(50%); 
      height: 10cm;
      page-break-inside: avoid;
      overflow: hidden;
      break-inside: avoid-column; 
    }
  
    .sender-info-t {
      float: right; 
      width: calc(100% - 100px); 
    }
  
    .consignee-info {
      clear: both; 
      margin-top: 10px; 
    }
  
    .address-container h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-family: 'Prompt', sans-serif;
    }
  
    .address-container p {
      margin: 5px 0;
      font-size: 10px;
      font-family: 'Prompt', sans-serif;
    }
  
    .divider {
      border-top: 1px solid black; 
      margin-top: 90px;
      clear: both; 
    }
  }

.a4-content {
    font-weight: bold;
    margin-left: 10px;
}

.logo-print {
    margin-top: 10px;
    margin-left: 20px;
    width: 30%;
    height: auto;
}


  